<ion-view title="Cadastrar Vaga" id="page6" style="background-color:#F0F2F3;">
  <ion-content padding="true" class="has-header">
    <form id="cadastrarVaga-form7" class="list">
      <label class="item item-input" id="cadastrarVaga-input7">
        <input type="text" placeholder="Nome da Escola">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarVaga-input8">
        <input type="text" placeholder="Endereço da Escola">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarVaga-input9">
        <input type="number" placeholder="Quantidade de Vagas">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-select" id="cadastrarVaga-select1">
        <span class="input-label">Turno</span>
        <select>
          <option>Manhã</option>
          <option>Tarde</option>
          <option>Noite</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-select" id="cadastrarVaga-select2">
        <span class="input-label">Série</span>
        <select>
          <option>1º Ano</option>
          <option>2º Ano</option>
          <option>3º Ano</option>
          <option>4º Ano</option>
          <option>5º Ano</option>
          <option>6º Ano</option>
          <option>7º Ano</option>
          <option>8º Ano</option>
          <option>9º Ano</option>
          <option>1º Ano - Ensino Médio</option>
          <option>2º Ano - Ensino Médio</option>
          <option>3º Ano - Ensino Médio</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarVaga-input10">
        <input type="text" placeholder="Modalidade de Ensino">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <label class="item item-input" id="cadastrarVaga-input11">
        <input type="text" placeholder="Tipo de Deficiência da Vaga">
      </label>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <div id="cadastrarVaga-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Encerramento da Vaga:</strong>
        </p>
      </div>
      <label class="item item-input" id="cadastrarVaga-input12">
        <input type="date" placeholder="">
      </label>
      <a ui-sref="tabsController.home()" id="cadastrarVaga-button10" class="button button-positive button-block">Cadastrar</a>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
    </form>
  </ion-content>
</ion-view>