<ion-view title="Home" id="page2" style="background-color:#F0F2F3;">
  <ion-content padding="true" class="has-header">
    <form id="home-form4" class="list">
      <label class="item item-input" id="home-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar Vagas">
      </label>
    </form>
    <div class="list card" id="home-card24">
      <h4 id="home-heading5" style="color:#264F7C;text-align:center;">Últimas Vagas Cadastradas</h4>
      <div class="item item-body" id="home-list-item-container9">
        <div id="home-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">2 VAGAS -
            <strong>5º Ano</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="home-list-item-container11">
        <div id="home-markdown17" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">1 VAGAS -
            <strong>9º Ano</strong>
          </p>
        </div>
      </div>
      <button id="home-button8" class="button button-balanced button-block button-clear icon ion-alert-circled">Mais Informações</button>
    </div>

  </ion-content>
</ion-view>