<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="GhPwVPQTL6DnQZmFZ7Og_AMAVEIS.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.cameraTabDefaultPage()" id="login-button1" class="button button-positive button-block">Entrar</a>
      <a href-inappbrowser="/signup" id="login-button2" class="button button-positive button-block button-clear">Ou crie uma conta</a>
    </form>
  </ion-content>
</ion-view>