<ion-view title="Suas Vagas" id="page8" style="background-color:#F0F2F3;">
  <ion-content padding="true" class="has-header">
    <div id="suasVagas-container1">
      <ion-list id="suasVagas-list9">
        <ion-item class="positive" id="suasVagas-list-item8">2 VAGAS 5º ANO
          <span class="item-note">Amputação</span>
        </ion-item>
        <ion-toggle toggle-class="toggle-assertive" id="suasVagas-toggle2">Suspender </ion-toggle>
        <ion-item class="item-divider" id="suasVagas-list-item-divider1"> </ion-item>
        <ion-item class="positive" id="suasVagas-list-item9">1 VAGA 9º ANO
          <span class="item-note">Paraplegia</span>
        </ion-item>
        <ion-toggle toggle-class="toggle-assertive" id="suasVagas-toggle3" name="Suspender">Suspender</ion-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-view>